/ * header title font */

.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-sie: 24px;
}
  
.leaflet-container {
  cursor: auto !important;
}

#expr-container label {
  font-weight: 400;
}

.js-irs-blue .irs-single, .js-irs-blue .irs-bar-edge, .js-irs-blue .irs-bar {
  background: #FEAB3A;
  border-top-color: #FEAB3A;
  border-bottom-color: #FEAB3A;
  border-left-color: #FEAB3A;
  border-right-color: #FEAB3A;
}

.small-box.bg-blue {
  background-color: #2C3E50 !important;
  color: white !important;
}

.small-box.bg-light-blue {
  background-color: #bdc3c7 !important;
  color: white !important;
}

.nav-tabs-custom>.nav-tabs {
  margin: 0;
  border-radius: 0px;
}

.nav-tabs-custom>.nav-tabs>li>a {
  color: white;
  font-size: 16px;
  background-color: #2C3E50;
}

.nav-tabs-custom .nav-tabs li.active a {
  background: #FEAB3A;
  color: white;
}

.nav-tabs-custom, .nav-tabs-custom>.tab-content, .nav-tabs-custom>.nav-tabs {
  background: #f4f4f4;
  border-bottom-color: #f4f4f4;
}

.nav-tabs-custom>.nav-tabs>li.active:hover>a, .nav-tabs-custom>.nav-tabs>li.active>a {
  font-size: 16px;
  border-radius: 0px;
}

.nav-tabs-custom, .nav-tabs-custom .nav-tabs li.active:hover a, .nav-tabs-custom .nav-tabs li.active a {
  background: rgb(254 171 58);
  color: rgb(33,37,41);
  border-radius: 0px;
}